<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        #container {
            width: 80%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        h1 {
            color: #333333;
        }

        p {
            color: #666666;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="container">
        <h1>Hướng dẫn đặt lại mật khẩu cho tài khoản của bạn</h1>
        <p>Chào bạn {{ name }},</p>
        <p>Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn trên trang web của chúng tôi. Để tiếp tục quá trình này, vui lòng nhấp vào đường link dưới đây:</p>
        <p><a href="{{ url }}">Đường Link Reset Mật Khẩu</a></p>
        <p>Nếu bạn không thực hiện yêu cầu này, bạn có thể bỏ qua email này. Đường link sẽ hết hạn sau 5 phút kể từ thời điểm bạn nhận được email này.</p>
        <p>Nếu bạn gặp bất kỳ khó khăn nào hoặc cần sự hỗ trợ, đừng ngần ngại liên hệ với chúng tôi qua địa chỉ email này.</p>
        <p>Trân trọng,<br>
        Thang<br>
        Đội ngũ Hỗ trợ Người Dùng<br>
        LEARNER</p>
    </div>
</body>
</html>
